@media(min-width(320px)){

}
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color:#333333;
    vertical-align: center;
}
ul{
    display:flex;
    
    list-style-type: none;
    text-align: left;
    margin:5px;;
    padding: 5px;
    overflow:hidden;   
    text-align: center;

}


li a {
    display:inline;
    color: white;
    padding:3px;
    text-decoration:none;
    text-align:center;
    font-size: 1.25em;

}
li a:hover{
    background-color:#aee942;
    font-size: 1.35em;
}
div h2 {
    color:white;
    padding-left: 5px;
    margin-right:25px;
    width:10%;

}